
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        *{
            margin: 0;
            /* font-family: 'Times New Roman', Times, serif; */
    
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;

        }

        .header{
            max-width: 100%;
            height: 100px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:rgb(252, 126, 15);
            
        }
        .header h2{
            color: white;
            font-size: 40px;
        }
        .header button{
            border: none;
            background-color: transparent;
            color: white;
            font-size: 30px;
        }
        .hero{
            background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352");
            background-size: cover;
            height: 440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-content: center;
            color: white;
        }

        .hero h2 {
    font-size: 36px;
    margin-top:30px ;
    margin-bottom: 25px;

    letter-spacing: 1px;
}

.hero p {
    font-size: 17px;

    letter-spacing: 1px;
}
    #searchInput{
        width: 360px;
        height: 60px;
        border: none;
        border-radius: 50px;
        padding: 20px;
        font-size: 20px; 
    }
#searchBtn{
     width: 60px;
    height: 56px;
    background-color: white;
    border: none;
    border-radius:100px ;
    font-size: 20px;
    color:rgb(252, 126, 15); ;
     cursor: pointer;
}

.categories-section {
    padding: 80px 30px;
}

.categories-section > h2 {
    font-size: 27px;

    letter-spacing: 4px;

    margin-bottom: 50px;

    position: relative;
}

.categories-section > h2::after {
    content: "";

    display: block;

    width: 82px;
    height: 4px;

    background-color: #f15b20;

    margin-top: 12px;
}

#categoriesContainer{
        display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;
}

.category-card {
    position: relative;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    overflow: hidden;
    cursor: pointer;
}

.category-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}
.category-name {
    position: absolute;
    top: 8px;
    right: 8px;

    background: rgb(238, 91, 24);
    color: white;

    padding: 5px 8px;

    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;

    border-radius: 2px;
}

